{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Daftar Buku</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1-dist/css/bootstrap.css' %}">
	<link href="{% static 'css/daftarbuku.css' %}" rel="stylesheet">
	<script src="{% static 'js/jquery-3.4.1.js' %}"></script>
	<script src="{% static 'js/getbook.js' %}"></script>
</head>
<body>
	<header>
		<h1 class="header center">Daftar Buku</h1>
		<button id="search" for="kind" class="right">Search</button>
		<input type="text" id="kind" class="right">
	</header>
	<section>
		<h3 id="found"></h3>
		<h5 id="range"></h5>
		<div style="overflow-y: auto;">
			<table>
				<thead>
					<tr>
						<th>Cover</th>
						<th>Judul</th>
						<th>Penulis</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<br>
		<div id="navigation" class="center">
			<button id="prev">Prev</button>
			<label id="page">1</label>
			<button id='next'>Next</button>
		</div>
	</section>
</body>
</html>