header {
	background-color: #44F;
	width: 100%;
	height: 120px;
	padding: 25px 10px 25px 10px;
}

.long {
	width: 50%;
	max-width: 50%;
}

.mid {
	width: 40%;
	max-width: 40%;
}

.wrap {
	word-wrap: break-word;
}

.center {
	text-align: center;
}

.middle {
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
}

h1 {
	margin: 0;
	display: inline;
}

#header {
	margin: 0;
}

.right {
	display: block;
	float: right;
}

section {
	margin: 25px;
}

th {
	border: 1px blue solid;
	text-align: center;
}
td {
	border: 1px black solid;
	padding: 10px;
}